# apikey.py # API Key for Hume AI
.env
__pycache__
predictions.json
extracted_sequence.txt
output_sequence.txt
.conda
.DS_Store
*.mp4
*.csv
*.pyc
*.wav
*.avi
results/extracted_utility.txt
results/output_utility.txt
results/output_frequent_itemsets.txt
results/extracted_frequent_itemsets.txt
packages/DUMP/video_recorder.py
packages/DUMP/AVRecorder.py
recordings/av_output/av_timestamps.json
message_history.json

# Do not ignore
!prompt_examples.csv